<%%= content_for :title, @<%= singular_table_name %>.to_s %>
<%%= content_for :page_kicker, "<%= human_name %>" %>
<%%= content_for :page_title, @<%= singular_table_name %>.to_s %>

<%%= render 'application/page' do %>
  <%%= render @<%= singular_table_name %> %>

  <%%= link_to "Edit", edit_<%= singular_table_name %>_path(@<%= singular_table_name %>), class: "w-full sm:w-auto btn btn-primary" %>
  <%%= render 'application/back_button',
             path: <%= plural_table_name %>_path,
             label: '<%= human_name.pluralize %>',
             class: 'w-full sm:w-auto' %>
  <%%= button_to "Delete",
                @<%= singular_table_name %>,
                method: :delete,
                form_class: "w-full sm:w-auto inline-flex m-0",
                class: "w-full sm:w-auto btn btn-danger cursor-pointer",
                data: { turbo_confirm: "Are you sure?" } %>
<%% end %>
